<font size="3"><b>Ecommerce Purchases</b> </font>

In [1]:
import pandas as pd

In [59]:
import numpy as np

In [2]:
df=pd.read_csv("Salaries.csv")

C:\Users\Dimitris\AppData\Local\Temp\ipykernel_11272\2084411108.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Salaries.csv")

In [ ]:
#Display first 10 rows ,last 10 rows
df.head(10)
df.tail(10)

In [7]:
#Shape
df.shape
print(f"The shape of df is {df.shape[0]} rows and {df.shape[1]} columns.")

The shape of df is 148654 rows and 13 columns.

In [12]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [10]:
#Column types
df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [13]:
#Basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [17]:
#Find null values
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [19]:
#Drop columns we dont need
df=df.drop(["Id","Notes","Agency","Status"],axis=1)

In [20]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [23]:
#Get overall statistics
df.describe(include="all")

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654,148654,148049.0,148654.0,148654.0,112495.0,148654.000000,148654.000000,148654.000000
unique,110811,2159,109900.0,66555.0,84968.0,99635.0,NaN,NaN,NaN
top,Kevin Lee,Transit Operator,0.0,0.0,0.0,0.0,NaN,NaN,NaN
freq,13,7036,875.0,66103.0,35218.0,1053.0,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643
std,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538
min,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000

In [25]:
#Find occurence of the emplyee names (top 5)
df["EmployeeName"].value_counts().head(5)

EmployeeName
Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: count, dtype: int64

In [34]:
#Find the unique job titles
df["JobTitle"].nunique()

2159

In [43]:
#Total Number of Job Title contain CAPTAIN 
len(df[df["JobTitle"].str.contains("CAPTAIN",case=True)])

141

In [45]:
#Total Number of Job Title contain captain/CAPTAIN
len(df[df["JobTitle"].str.contains("CAPTAIN",case=False)])

552

In [49]:
#Display all the employee names from fire department
df[df["JobTitle"].str.contains("fire department",case=False)]["EmployeeName"]

4              PATRICK GARDNER
6                    ALSON LEE
8               MICHAEL MORRIS
9           JOANNE HAYES-WHITE
10               ARTHUR KENNEY
                  ...
32623             JAMES BARDEN
36162       Joanne Hayes-White
72926     Joanne M Hayes-White
102303          Robert E Evans
110535    Joanne M Hayes-White
Name: EmployeeName, Length: 226, dtype: object

In [57]:
#Minimum, Maximum, Average Base Pay 
df["BasePay"].describe()

count     148049.0
unique    109900.0
top            0.0
freq         875.0
Name: BasePay, dtype: float64

In [70]:
#So we need to clean our column 
df["BasePay"]=df["BasePay"].replace("Not Provided",np.nan)

In [71]:
df["BasePay"]=df["BasePay"].astype(float)

In [73]:
df["BasePay"].describe()

count    148045.000000
mean      66325.448840
std       42764.635495
min        -166.010000
25%       33588.200000
50%       65007.450000
75%       94691.050000
max      319275.010000
Name: BasePay, dtype: float64

In [60]:
#Clean the employeename column aswell 
df["EmployeeName"]=df["EmployeeName"].replace("Not provided",np.nan)

In [61]:
df["EmployeeName"]

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [80]:
#Drop the rows having more than 4 missing values 
df[df.isnull().sum(axis=1)==2]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
148646,NaN,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.0,0.0,2014
148650,NaN,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.0,0.0,2014
148651,NaN,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.0,0.0,2014
148652,NaN,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.0,0.0,2014

In [83]:
#So we further clean the other columns 
df["JobTitle"]=df["JobTitle"].replace("Not Provided",np.nan)

In [85]:
df["OvertimePay"]=df["OvertimePay"].replace("Not Provided",np.nan)

In [86]:
df["OtherPay"]=df["OtherPay"].replace("Not Provided",np.nan)

In [87]:
df["Benefits"]=df["Benefits"].replace("Not Provided",np.nan)

In [92]:
df.drop(df[df.isnull().sum(axis=1)==5].index,axis=0,inplace=True)

In [104]:
#Find Job Title of ALBERT PARDINI 
df[df["EmployeeName"]=="ALBERT PARDINI"]["JobTitle"].item()

'CAPTAIN III (POLICE DEPARTMENT)'

In [105]:
#How much ALBERT PARDINI make (include benefits )
#First we need to change the type of certain columns 
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [111]:
df["Benefits"]=df["Benefits"].astype(float)

In [114]:
df["OvertimePay"]=df["OvertimePay"].astype(float)

In [120]:
df[df["EmployeeName"]=="ALBERT PARDINI"]["TotalPay"].item()

335279.91

In [123]:
df[df["EmployeeName"]=="ALBERT PARDINI"]["BasePay"].item()

212739.13

In [124]:
df[df["EmployeeName"]=="ALBERT PARDINI"]["OvertimePay"].item()

106088.18

In [125]:
df[df["EmployeeName"]=="ALBERT PARDINI"]["OtherPay"].item()

16452.6

In [126]:
#This is the final answer , he has no benefits
df[df["EmployeeName"]=="ALBERT PARDINI"]["TotalPayBenefits"].item()

335279.91

In [127]:
#He has no Benefits 
df[df["EmployeeName"]=="ALBERT PARDINI"]["Benefits"].item()

nan

In [131]:
#Diplay the name of the person having the highest BasePay 
df.sort_values("BasePay",ascending=False).head(1)["EmployeeName"]

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [137]:
#Average BasePay of all Employee Per Year
df.groupby("Year").mean("BasePay")["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [139]:
#Average BasePay of all Employees Per Job Title
df.groupby("JobTitle").mean("BasePay")["BasePay"]

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2158, dtype: float64

In [ ]:
#Average BasePay of Employee having job title ACCOUNTANT

In [144]:
df[df["JobTitle"]=="ACCOUNTANT"]["BasePay"].mean()

np.float64(46643.172)

In [146]:
#Top 5 Most Common Jobs 
df["JobTitle"].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64